# following the advice from https://github.com/direnv/direnv/wiki/.envrc-Boilerplate
# load developer's own local .env
dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html

# use flake shell
# Note: to save your disk space, you may override nixpkgs with the preferred locked version on your machine
use flake . ${FLAKE_OVERRIDE_NIXPKGS:+--override-input nixpkgs "${FLAKE_OVERRIDE_NIXPKGS}"}
